.automation/n8n-workflows/02-frontend-issue-trigger.json
{
  "name": "SmartEstate - Frontend Issue Trigger",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "minutes", "minutesInterval": 1 }]
        }
      },
      "id": "node-schedule",
      "name": "Poll Every Minute",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [180, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.github.com/repos/LazarVujosevic/SmartEstate/issues",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "labels", "value": "frontend" },
            { "name": "state", "value": "open" },
            { "name": "per_page", "value": "20" }
          ]
        },
        "options": {}
      },
      "id": "node-get-issues",
      "name": "Get Frontend Issues",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [380, 300],
      "credentials": {
        "githubApi": { "name": "SmartEstate GitHub" }
      }
    },
    {
      "parameters": {
        "jsCode": "const issues = $input.first().json;\nif (!Array.isArray(issues) || issues.length === 0) return [];\nreturn issues.filter(i => i.assignees && i.assignees.length === 0).map(i => ({ json: i }));"
      },
      "id": "node-split-filter",
      "name": "Split and Filter Unassigned",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [580, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "a1", "name": "role", "value": "frontend", "type": "string" },
            { "id": "a2", "name": "issueNumber", "value": "={{ $json.number }}", "type": "number" },
            { "id": "a3", "name": "prompt", "value": "=GitHub Issue #{{ $json.number }}: {{ $json.title }}\n\nDescription:\n{{ $json.body }}\n\nIssue URL: {{ $json.html_url }}\n\nYou are the Frontend Developer. Read CLAUDE.md and .claude/frontend-dev.md in full. Implement this issue. Create a Pull Request when done referencing Closes #{{ $json.number }}.", "type": "string" }
          ]
        }
      },
      "id": "node-build-prompt",
      "name": "Build Prompt",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [780, 300]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.github.com/repos/LazarVujosevic/SmartEstate/issues/{{ $json.issueNumber }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{ \"assignees\": [\"LazarVujosevic\"] }",
        "options": {}
      },
      "id": "node-assign",
      "name": "Assign Issue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [980, 300],
      "credentials": {
        "githubApi": { "name": "SmartEstate GitHub" }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:9876/",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"role\": \"{{ $('Build Prompt').item.json.role }}\", \"prompt\": \"{{ $('Build Prompt').item.json.prompt.replace(/\"/g, '\\\\\"') }}\" }",
        "options": { "timeout": 5000 }
      },
      "id": "node-trigger-claude",
      "name": "Trigger Claude Session",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1180, 300]
    }
  ],
  "connections": {
    "Poll Every Minute": {
      "main": [[{ "node": "Get Frontend Issues", "type": "main", "index": 0 }]]
    },
    "Get Frontend Issues": {
      "main": [[{ "node": "Split and Filter Unassigned", "type": "main", "index": 0 }]]
    },
    "Split and Filter Unassigned": {
      "main": [[{ "node": "Build Prompt", "type": "main", "index": 0 }]]
    },
    "Build Prompt": {
      "main": [[{ "node": "Assign Issue", "type": "main", "index": 0 }]]
    },
    "Assign Issue": {
      "main": [[{ "node": "Trigger Claude Session", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" }
}
