.automation/n8n-workflows/03-pr-review-trigger.json
{
  "name": "SmartEstate - PR Review Trigger",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "minutes", "minutesInterval": 1 }]
        }
      },
      "id": "node-schedule",
      "name": "Poll Every Minute",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [180, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.github.com/repos/LazarVujosevic/SmartEstate/pulls",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "state", "value": "open" },
            { "name": "per_page", "value": "20" }
          ]
        },
        "options": {}
      },
      "id": "node-get-prs",
      "name": "Get Open PRs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [380, 300],
      "credentials": {
        "githubApi": { "name": "SmartEstate GitHub" }
      }
    },
    {
      "parameters": {
        "jsCode": "const prs = $input.first().json;\nif (!Array.isArray(prs) || prs.length === 0) return [];\nreturn prs\n  .filter(pr => !pr.draft && pr.requested_reviewers && pr.requested_reviewers.length === 0)\n  .map(pr => ({ json: pr }));"
      },
      "id": "node-split-filter",
      "name": "Split and Filter No Reviewer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [580, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "a1", "name": "role", "value": "leaddev", "type": "string" },
            { "id": "a2", "name": "prNumber", "value": "={{ $json.number }}", "type": "number" },
            { "id": "a3", "name": "prompt", "value": "=New Pull Request ready for review!\n\nPR #{{ $json.number }}: {{ $json.title }}\nBranch: {{ $json.head.ref }} into {{ $json.base.ref }}\nAuthor: {{ $json.user.login }}\n\nDescription:\n{{ $json.body }}\n\nPR URL: {{ $json.html_url }}\n\nYou are the Lead Developer. Read CLAUDE.md and .claude/lead-dev.md in full. Review this PR using the checklist in your .md file. Approve and merge if it passes, or request changes if it does not.", "type": "string" }
          ]
        }
      },
      "id": "node-build-prompt",
      "name": "Build Prompt",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [780, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.github.com/repos/LazarVujosevic/SmartEstate/pulls/{{ $json.prNumber }}/requested_reviewers",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{ \"reviewers\": [\"LazarVujosevic\"] }",
        "options": {}
      },
      "id": "node-request-review",
      "name": "Mark PR Under Review",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [980, 300],
      "credentials": {
        "githubApi": { "name": "SmartEstate GitHub" }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:9876/",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"role\": \"{{ $('Build Prompt').item.json.role }}\", \"prompt\": \"{{ $('Build Prompt').item.json.prompt.replace(/\"/g, '\\\\\"') }}\" }",
        "options": { "timeout": 5000 }
      },
      "id": "node-trigger-claude",
      "name": "Trigger Lead Dev Session",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1180, 300]
    }
  ],
  "connections": {
    "Poll Every Minute": {
      "main": [[{ "node": "Get Open PRs", "type": "main", "index": 0 }]]
    },
    "Get Open PRs": {
      "main": [[{ "node": "Split and Filter No Reviewer", "type": "main", "index": 0 }]]
    },
    "Split and Filter No Reviewer": {
      "main": [[{ "node": "Build Prompt", "type": "main", "index": 0 }]]
    },
    "Build Prompt": {
      "main": [[{ "node": "Mark PR Under Review", "type": "main", "index": 0 }]]
    },
    "Mark PR Under Review": {
      "main": [[{ "node": "Trigger Lead Dev Session", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" }
}
